MgooGps/Service References/POIService/POIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAddressByLatlng">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Lat" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Lng" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="MapType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressByLatlngResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAddressByLatlngResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAddressByLatlngSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddressByLatlng" />
  </wsdl:message>
  <wsdl:message name="GetAddressByLatlngSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressByLatlngResponse" />
  </wsdl:message>
  <wsdl:portType name="POIServiceSoap">
    <wsdl:operation name="GetAddressByLatlng">
      <wsdl:input message="tns:GetAddressByLatlngSoapIn" />
      <wsdl:output message="tns:GetAddressByLatlngSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POIServiceSoap" type="tns:POIServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddressByLatlng">
      <soap:operation soapAction="http://tempuri.org/GetAddressByLatlng" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POIServiceSoap12" type="tns:POIServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddressByLatlng">
      <soap12:operation soapAction="http://tempuri.org/GetAddressByLatlng" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POIService">
    <wsdl:port name="POIServiceSoap" binding="tns:POIServiceSoap">
      <soap:address location="http://www.mgoogps.com/Ajax/POIService.asmx" />
    </wsdl:port>
    <wsdl:port name="POIServiceSoap12" binding="tns:POIServiceSoap12">
      <soap12:address location="http://www.mgoogps.com/Ajax/POIService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>